---
import Menu from "./Menu.astro";
import Navigation from "./Navigation.astro";
---

<header class="site-header">
  <div class="wrap header-inner">
    <a href="/" class="brand">Cosmic Paper</a>
    <Menu />
    <Navigation />
  </div>
</header>

<style>
  .brand {
    text-decoration: none;
    font-weight: 750;
    letter-spacing: -0.01em;
    margin-right: auto;
  }

  .brand:hover,
  .brand:focus-visible {
    text-decoration: underline;
    text-underline-offset: 0.2em;
  }
</style>
