---
import Menu from "./Menu.astro";
import Navigation from "./Navigation.astro";
---

<header class="site-header">
  <div class="container header-row">
    <Menu />
    <Navigation />
  </div>
</header>
