---
import Menu from "./Menu.astro";
import Navigation from "./Navigation.astro";
---

<header class="site-header">
  <div class="shell header-inner">
    <Menu />
    <Navigation />
  </div>
</header>
