---
import { site } from "../config/site";
---

<nav class="nav" aria-label="Main navigation">
  <ul id="main-menu" class="nav-links">
    {site.nav.map((item) => (
      <li><a href={item.href}>{item.label}</a></li>
    ))}
  </ul>
</nav>
